In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('download.csv')

In [3]:
df.head(2)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,10/09/2020,10,9,2020,24,2,Afghanistan,AF,AFG,38041757.0,Asia,1.098793
1,09/09/2020,9,9,2020,26,3,Afghanistan,AF,AFG,38041757.0,Asia,1.180282

In [4]:
df.shape

(41837, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41837 entries, 0 to 41836
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     41837 non-null  object
 1   day                                                         41837 non-null  int64
 2   month                                                       41837 non-null  int64
 3   year                                                        41837 non-null  int64
 4   cases                                                       41837 non-null  int64
 5   deaths                                                      41837 non-null  int64
 6   countriesAndTerritories                                     41837 non-null  object
 7   geoId                                                       41657 non-null  object
 8   countryterritoryCode                                        41773 non-null  object
 9   popData2019                                                 41773 non-null  float64
 10  continentExp                                                41837 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  39056 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 3.8+ MB

In [6]:
# tum sutunları gosterir, max.rows -> tum sırları gösterir
pd.set_option('display.max_columns', 12) 
pd.set_option('display.max_rows', 40)

In [7]:
df.tail(3)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
41834,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
41835,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
41836,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [8]:
"""
pandas, DATAFRAME...
    people = {
        "first" = ["corey", 'jane', 'john'],
        "second" = ["sfaer", 'stefan2', 'bochum'],
        "enail" = [..., ...., ....]
    }
    
    ASLINDA JSON data tipi ile aynı diyebiliriz.
"""

'\npandas, DATAFRAME...\n    people = {\n        "first" = ["corey", \'jane\', \'john\'],\n        "second" = ["sfaer", \'stefan2\', \'bochum\'],\n        "enail" = [..., ...., ....]\n    }\n    \n    ASLINDA JSON data tipi ile aynı diyebiliriz.\n'

In [9]:
mf = pd.DataFrame(df)

In [10]:
df["countriesAndTerritories"]

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
41832       Zimbabwe
41833       Zimbabwe
41834       Zimbabwe
41835       Zimbabwe
41836       Zimbabwe
Name: countriesAndTerritories, Length: 41837, dtype: object

In [11]:
type(df["countriesAndTerritories"])

pandas.core.series.Series

In [12]:
df.countriesAndTerritories

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
41832       Zimbabwe
41833       Zimbabwe
41834       Zimbabwe
41835       Zimbabwe
41836       Zimbabwe
Name: countriesAndTerritories, Length: 41837, dtype: object

In [13]:
df[['countriesAndTerritories', 'dateRep']]

      countriesAndTerritories     dateRep
0                 Afghanistan  10/09/2020
1                 Afghanistan  09/09/2020
2                 Afghanistan  08/09/2020
3                 Afghanistan  07/09/2020
4                 Afghanistan  06/09/2020
...                       ...         ...
41832                Zimbabwe  25/03/2020
41833                Zimbabwe  24/03/2020
41834                Zimbabwe  23/03/2020
41835                Zimbabwe  22/03/2020
41836                Zimbabwe  21/03/2020

[41837 rows x 2 columns]

In [14]:
df.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [15]:
df.iloc[0]  # get first rows....
#iloc: integer location

dateRep                                                        10/09/2020
day                                                                    10
month                                                                   9
year                                                                 2020
cases                                                                  24
deaths                                                                  2
countriesAndTerritories                                       Afghanistan
geoId                                                                  AF
countryterritoryCode                                                  AFG
popData2019                                                   3.80418e+07
continentExp                                                         Asia
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000        1.09879
Name: 0, dtype: object

In [16]:
df.iloc[[0, 1]]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,10/09/2020,10,9,2020,24,2,Afghanistan,AF,AFG,38041757.0,Asia,1.098793
1,09/09/2020,9,9,2020,26,3,Afghanistan,AF,AFG,38041757.0,Asia,1.180282

In [17]:
df.iloc[[0,1], 2]

0    9
1    9
Name: month, dtype: int64

df.loc[[23,24], ['deaths', 'countryterritoryCode']]

In [20]:
df.shape

(41837, 12)

In [ ]:
df.