In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('download.csv')

In [4]:
df = pd.DataFrame(df)

In [5]:
df.head(2)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,10/09/2020,10,9,2020,24,2,Afghanistan,AF,AFG,38041757.0,Asia,1.098793
1,09/09/2020,9,9,2020,26,3,Afghanistan,AF,AFG,38041757.0,Asia,1.180282

In [8]:
filtTUR = (df['countryterritoryCode'] == 'TUR')

In [10]:
df[filtTUR]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
38594,10/09/2020,10,9,2020,1673,55,Turkey,TR,TUR,82003882.0,Asia,27.359680
38595,09/09/2020,9,9,2020,1761,52,Turkey,TR,TUR,82003882.0,Asia,26.920677
38596,08/09/2020,8,9,2020,1703,57,Turkey,TR,TUR,82003882.0,Asia,26.604838
38597,07/09/2020,7,9,2020,1578,53,Turkey,TR,TUR,82003882.0,Asia,26.287780
38598,06/09/2020,6,9,2020,1673,56,Turkey,TR,TUR,82003882.0,Asia,25.847557
...,...,...,...,...,...,...,...,...,...,...,...,...
38770,18/03/2020,18,3,2020,51,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38771,17/03/2020,17,3,2020,29,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38772,16/03/2020,16,3,2020,16,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38773,13/03/2020,13,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38774,12/03/2020,12,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN

In [12]:
dataTUR = df[df['countryterritoryCode'] == 'TUR']

In [14]:
df.loc[filtTUR, 'cases'].

38594    1673
38595    1761
38596    1703
38597    1578
38598    1673
         ...
38770      51
38771      29
38772      16
38773       1
38774       1
Name: cases, Length: 181, dtype: int64